<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>NewProject1</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SinhVienController</display-name>
    <servlet-name>SinhVienController</servlet-name>
    <servlet-class>Controller.SinhVienController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SinhVienController</servlet-name>
    <url-pattern>/SinhVienController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GiangVienController</display-name>
    <servlet-name>GiangVienController</servlet-name>
    <servlet-class>Controller.GiangVienController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GiangVienController</servlet-name>
    <url-pattern>/GiangVienController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeTaiController</display-name>
    <servlet-name>DeTaiController</servlet-name>
    <servlet-class>Controller.DeTaiController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeTaiController</servlet-name>
    <url-pattern>/DeTaiController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KhoaController</display-name>
    <servlet-name>KhoaController</servlet-name>
    <servlet-class>Controller.KhoaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KhoaController</servlet-name>
    <url-pattern>/KhoaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteStdentsController</display-name>
    <servlet-name>deleteStdentsController</servlet-name>
    <servlet-class>Controller.deleteStdentsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteStdentsController</servlet-name>
    <url-pattern>/deleteStdentsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dangky</display-name>
    <servlet-name>dangky</servlet-name>
    <servlet-class>Controller.dangky</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dangky</servlet-name>
    <url-pattern>/dangky</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dangkyController</display-name>
    <servlet-name>dangkyController</servlet-name>
    <servlet-class>Controller.dangkyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dangkyController</servlet-name>
    <url-pattern>/dangkyController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerController</display-name>
    <servlet-name>registerController</servlet-name>
    <servlet-class>Controller.registerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerController</servlet-name>
    <url-pattern>/registerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSVController</display-name>
    <servlet-name>UpdateSVController</servlet-name>
    <servlet-class>Controller.UpdateSVController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSVController</servlet-name>
    <url-pattern>/UpdateSVController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HuongDanController</display-name>
    <servlet-name>HuongDanController</servlet-name>
    <servlet-class>Controller.HuongDanController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HuongDanController</servlet-name>
    <url-pattern>/HuongDanController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IdHuongDanController</display-name>
    <servlet-name>IdHuongDanController</servlet-name>
    <servlet-class>Controller.IdHuongDanController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdHuongDanController</servlet-name>
    <url-pattern>/IdHuongDanController</url-pattern>
  </servlet-mapping>
</web-app>